@import "~/src/scss/index.scss";

.signIn {
  width: 50%;

  > h3 {
    margin-bottom: 20px;
    color: $default-blue;
  }

  a {
    color: $default-blue;
  }
  a:hover {
    color: $medium-purple;
  }

  .actions {
    margin-top: 10px;
    text-align: center;
  }
}
