@import "~src/scss/index.scss";

.footer {
    background-color: $default-blue; // Color de fondo del footer
    padding: 30px 0;
    color: white;
  
    .columns {
      display: flex;
      justify-content: space-between;
      align-items: center; // Alinea los elementos verticalmente en el centro
  
      a {
        color: white;
        text-decoration: none;
  
        &:hover {
          color: #5cb85c; // Cambia el color al pasar el ratón
        }
      }
  
      ul {
        list-style: none; // Elimina los puntos de la lista
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
  
        > a {
          color: white;
  
          &:hover {
            color: #5cb85c; // Cambia el color al pasar el ratón
          }
        }
      }
    }
  
    .social {
      display: flex;
      gap: 1rem;
    }
  
    .copyright {
      margin-top: 30px;
      padding-top: 30px;
      border-top: 1px solid $dark-blue; // Línea de separación
    }
  }
  